.app{
    width: 100px;
    height: 100px;
    /* background-color: lightcoral; */
}

.bottone1, .bottone2, .bottone3{
    /* background-color: #01e4e4; */
    border-radius: 5px;
    border: 0px;
    padding: 0.5rem 1rem;
    margin: 1rem;
}


